{% extends "base.html" %}

{% block title %}
  Circle Plot Test
{% endblock title %}

{% block extra_head %}
  <style type="text/css">
  .bokeh_canvas_wrapper {
    width: 10em !important;
  }
  .bokeh .btn-group {
    margin-left: 9em;
  }
  </style>
{% endblock extra_head %}

{% block content %}
  <div class="container-fluid">
    <div class="page-header">
      <h1>Circle Plot</h1>
    </div>
    <div id="{{ id1 }}" class="col-md-10 col-md-offset-1">
      {{ tag1|safe }}
    </div>
  </div>
{% endblock content %}
